.App {
  text-align: center;
}

.logo {
  width: 325px;
  margin-top: 20px;
}

.menu {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.menu h3,
.details h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.details p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.items {
  height: 500px;
  overflow-y: scroll;
}

.item-card {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 10px 20px 15px 20px;
  /* background-color: rgb(216, 172, 172); */
  gap: 20px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.item-card:hover,
.item-selected {
  background-color: rgba(253, 196, 208, 0.7);
  font-weight: bold;
  color: #e5647f;
}

.cake-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.details {
  width: 700px;
  height: 600px;
  padding: 50px;
  box-sizing: border-box;
  background-color: rgba(253, 196, 208, 0.7);
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.details h3 {
  color: brown;
}

.details img {
  width: 200px;
}

.price {
  margin-top: 25px;
  font-size: 17px !important;
}

.description {
  padding: 15px;
  color: brown;
  margin: 0;
  max-height: 50px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.description::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 30px;
}

.items::-webkit-scrollbar-track {
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 30px;
}

.description::-webkit-scrollbar-thumb {
  background: #e5647f;
  border-radius: 10px;
}

.items::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.items::-webkit-scrollbar-thumb:hover {
  background: #e5647f;
}
